<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml" />
    <springProfile name="prod">
        <logger name="pl.codecouple.omomfood.offers" level="ERROR" additivity="false">
            <appender-ref ref="FILE" />
        </logger>
    </springProfile>
    <springProfile name="dev">
        <logger name="pl.codecouple.omomfood.offers" level="DEBUG" additivity="false">
            <appender-ref ref="CONSOLE" />
        </logger>
    </springProfile>
</configuration>